fastapi
uvicorn[standard]
pydantic
python-dotenv
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
openai-whisper
panns-inference
pydub
requests
groq
